*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    /* background-color: #808080; */
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.756),rgba(56, 54, 54, 0.801),rgba(86, 80, 80, 0.801), rgba(0, 0, 0, 0.801)
    );
}

header{
    color: white;
    display: flex;
    justify-content: space-evenly;
    background-color: #696969;
    height: 5rem;
    align-items: center;
    border-bottom: solid white 1px;
}
.tittleHeader{
    background: linear-gradient(
        to left,
        white,
        rgb(209, 205, 205),
        rgb(161, 157, 157)
    );
    background-size: cover;
    background-clip: text;
    color: transparent;
    animation: animateTittle 10s ease-in-out infinite alternate;
    font-weight: 800;
}
@keyframes animateTittle{
    to{
        background-position-x: -200px;
    }
}

i{
    font-size: xx-large;
    margin-right: 2rem;
     background: linear-gradient(
        to left,
        white,
        rgb(209, 205, 205),
        rgb(161, 157, 157)
    );
    background-size: cover;
    background-clip: text;
    color: transparent;
    animation: animateIcon 50s ease-in-out infinite alternate;
}
@keyframes animateIcon{
    to{
        background-position-x: -100px;
    }
}

i:hover{
    color: black;
    border-bottom: solid white 2px;
}
a{
    text-decoration: none;
    color: white;
}

main{
    margin-top: 4rem;
}

.line1{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-evenly;
}

::placeholder{
    color: white;
}

input{
    color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 139, 0.443), rgba(0, 0, 255, 0.443), rgba(173, 216, 230, 0.443), rgba(0, 0, 139, 0.443)
       
    );
    background-size: 300% 100%;

    animation: backBtn 4s ease-in-out infinite alternate;
}
@keyframes backBtn{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 100% 0;
    }
}


.botoes{
    margin-top: 4rem;
    display: flex;
    gap: 5rem;
    justify-content: center;
}

button{
    padding: 30px;
    width: 200px;
    border-radius: 30px;
    border: solid black 2px;
    font-size: large;

    cursor: pointer;
}

.btnResultado{
    background: linear-gradient(
        90deg,
        rgba(0, 100, 0, 0.443), rgba(0, 128, 0, 0.443),rgba(144, 238, 144, 0.443), darkgreen
    );
    background-size: 300% 100%;

    animation: backBtn 4s ease-in-out infinite alternate;
}
@keyframes backBtn{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 100% 0;
    }
}
.btnResultado:active{
    background-color: green;
    border: white solid 1px;
}

.btnLimpar{
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 0.443), rgba(139, 0, 0, 0.443), rgba(205, 97, 97, 0.443), rgba(255, 0, 0, 0.443)
    );
    background-size: 300% 100%;

    animation: backLimp 4s ease-in-out infinite alternate;
}
@keyframes backLimp{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 100% 0;
    }
}
.btnLimpar:active{
    border: white solid 1px;
    background-color: pink;
}

#resultado{
    font-size: x-large;
    text-align: center;
    margin-top: 2rem;
}

.paragrafo-resultadoAprovado{
    color: blue;
}
.paragrafo-resultadoReprovado{
    color: red;
}